*{
    box-sizing: border-box;
}

.navbar-expand-lg .navbar-collapse {
    background-color: #31aa09;
}

a.nav-link{
    color: #fff;
}

a.nav-link:hover{
    color: #e4ff5f;
}

a.nav-link.active{
    color: #fff
}

.banner {
    margin-top: 20px;
}

.card-img-top {
    height: 50%; 
    object-fit: cover; 
    width: 80%;
}

.cards {
    display: flex;
    background-color: #d4b6b6;
}


.card {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #0d8402, #c9ff71); 
    opacity: 0.9;
    transition: opacity 0.3s ease;
    z-index: -1; 
}

.card:hover::before {
    opacity: 0.6;
}

.card-content {
    position: relative;
    padding: 30px;
    color: #fff;
    z-index: 1;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
}

.card-description {
    font-size: 16px;
    line-height: 1.6;
}

.card-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 25px;
    margin-top: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.card-button:hover {
    background-color: #fff;
    color: #333;
}

a {
    text-decoration: none;
}

.col{
    margin-bottom: 60px;
}

@media (max-width: 768px) {
    .card {
        width: calc(80% - 10px); 
    }

    .col {
        display: flex;
        justify-content: center;
    }
    
}

@media (min-width: 992px) {
    .carousel-item img {
      max-height: 500px; 
      width: auto; 
    }

    .carousel-item img {
        filter: brightness(1.1) contrast(1.1); 
    }

  }
