*{
    box-sizing: border-box;
}





a.nav-link{
    color: #fff;
}

a.nav-link:hover{
    color: #e4ff5f;
}

a.nav-link.active{
    color: #fff
}

.banner {
    margin-top: 20px;
}

.card-img-top {
    height: 50%; 
    object-fit: cover; 
    width: 80%;
}

.cards {
    display: flex;
    background-color: #d4b6b6;
}


.card {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #0d8402, #c9ff71); 
    opacity: 0.9;
    transition: opacity 0.3s ease;
    z-index: -1; 
}

.card:hover::before {
    opacity: 0.6;
}

.card-content {
    position: relative;
    padding: 30px;
    color: #fff;
    z-index: 1;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
}

.card-description {
    font-size: 16px;
    line-height: 1.6;
}

.card-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 25px;
    margin-top: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.card-button:hover {
    background-color: #fff;
    color: #333;
}

a {
    text-decoration: none;
}

.col{
    margin-bottom: 60px;
}

@media (max-width: 768px) {
    .card {
        width: calc(80% - 10px); 
    }

    .col {
        display: flex;
        justify-content: center;
    }
    
}

@media (min-width: 992px) {
    .carousel-item img {
      max-height: 500px; 
      width: auto; 
    }

    .carousel-item img {
        filter: brightness(1.1) contrast(1.1); 

      }
      .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 0 20px;
    }
   
    .container { 
        max-width: 800px;
        margin: 0 auto;
        padding: 0 20px;
    }
    
    h2 {
        text-align: center;
        display: flex;
        align-items: center;
    }
    
    h2 img {
        margin-right: 10px; /* Espacio entre el logo y el texto */
        width: 50px; /* Tamaño del logo */
    }
    
    .testimonials {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .testimonial {
        width: calc(50% - 5px); /* La mitad del ancho de la pantalla, menos el espacio entre los testimonios */
        margin-bottom: 10px;
        padding: 10px;
        background-color: #6eb270; /* Color verde */
        border-radius: 20px;
        box-sizing: border-box; /* Asegura que el ancho incluya el padding */
    }
    
    .testimonial img {
        width: 90px; /* Reducir el tamaño de la imagen del testimonio */
        height: 90px;
        border-radius: 50%;
        margin-bottom: 10px;
        display: block;
        margin: 0 auto;
    }
    
    .testimonial p {
        text-align: center;
        color: white; /* Color del texto blanco para mayor contraste */
    }

    }

  }
 main
