@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?16131267');
  src: url('../font/fontello.eot?16131267#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?16131267') format('woff2'),
       url('../font/fontello.woff?16131267') format('woff'),
       url('../font/fontello.ttf?16131267') format('truetype'),
       url('../font/fontello.svg?16131267#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  
  font-variant: normal;
  text-transform: none;

 
  line-height: 1em;

  
  margin-left: .2em;

  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

 
}

.icon-plus:before { content: '\e800'; } 
.icon-twitter:before { content: '\f099'; } 
.icon-youtube-play:before { content: '\f16a'; } 
.icon-instagram:before { content: '\f16d'; } 
.icon-whatsapp:before { content: '\f232'; } 
.icon-facebook:before { content: '\f300'; }
