@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400');



.capa-black{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
}

.h1{
    position: relative;
    color: black;
}

.parrafo1{
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
    position: relative;
    color: #c6c6c6;
    font-weight: 100;
}

.container-testimonials{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    position: relative;
}

.testimonial{
    width: 340px;
    margin: 20px;
    background: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 10px 1px 40px px black;
    
}

.photo-perfil1,
.photo-perfil2,
.photo-perfil3{
    margin: auto;
    width: 120px;
    height: 120px;
    background-size: cover;
    border-radius: 50%;
    position: relative;
    top: -60px;
    box-shadow: 0px 0px 10px 1px black;
}

.photo-perfil1{
    background-image: url(./imagenes/opiniones_2.jpg);
    background-position: center -10px;
}

.photo-perfil2{
    background-image: url(imagenes/opiniones_3.jpg);
    background-size: 160px;
    background-position: -20px 0px;
}

.photo-perfil3{
    background-image: url(imagenes/opiniones5.jpg);
    background-size: 250px;
    background-position: -78px -20px;
}


/* .testimonial h2{
    margin-top: -40px;
    color: black;
} */

.testimonial h4{
    margin-top: 10px;
    color: #333333;
    font-weight: 400;
}

/* .testimonial p{
    margin-top: 10px;
    font-weight: 100;
    color: black;
} */